/* general */
body{font-size:16px; font-family: 'Raleway', sans-serif; font-weight:400}
.entry-content p{color:#372f2d}
.radius5, .showcase article,.post-detail .post-navigation a,.box-exercise input{-webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; border-radius:5px}
.radius10,.instructor-pic .post-thumbnail img, .block-join-tribe{-webkit-border-radius:10px; -moz-border-radius:10px; -ms-border-radius:10px; -o-border-radius:10px; border-radius:10px}
.container-fluid.no-side-padding{padding-left:0; padding-right:0}
body.home .entry-header{display:none; height:0; overflow:hidden}
.site-header .entry-title{text-align:center; padding:0; margin:0 0 30px; color:#fff; font-size:23px; font-weight:300}
.content-area .entry-header,body.blog .site-header .entry-title{}
body.blog .contewelcoment-area .entry-header{display:block}
.btn-primary,.btn-block{padding:8px 35px; font-size:18px; line-height:normal; font-weight:300; border:0; white-space:normal; margin:5px 0}
.btn-block{padding:8px 5px}
.btn-primary:hover,.btn-primary:focus,.btn-block:hover,.btn-block:focus{opacity:0.8}
.btncolor-red,.btncolor-red:hover,.btncolor-red:focus{background-color:#fa3333}
.btncolor-yellow,.btncolor-yellow:hover,.btncolor-yellow:focus{background-color:#dfd15c; color:#372f2d; font-weight:700; text-transform:uppercase}
.btncolor-blue,.btncolor-blue:hover,.btncolor-blue:focus{background-color:#72a6db; color:#372f2d; font-weight:700; text-transform:uppercase}
.btncolor-red2,.btncolor-red2:hover,.btncolor-red2:focus{background-color:#fa3333; color:#fff; font-weight:700; text-transform:uppercase}
.welcome{text-align:center; margin-bottom:50px;}
.welcome h1{font-size:30px; color:#372f2d; margin:0 0 30px; padding:0}
/* header */   

#header-home-bg {width: 100%; }
#header-home-bg  {position: fixed; float: none; margin: auto!important;   left: 50%; z-index: 100; height: 80px;
    transform: translate(-50%, 0);}
 .transparent {background-color:rgba(69,6,7,.5); width:100%   }	
.ubermenu-main  {
    z-index: 999999!important
}
.change {width:100%; float:left; background:#450607; /*url(../images/bg-main-header.jpg) no-repeat 50% 70%; */  }	
.site-branding{padding-top:10px; padding-bottom:10px}
.custom-logo-link{text-align:center; margin-bottom:15px}
.site-branding aside{display:block; float:left; width:100%; text-align:center}

#main-nav {float: right}
.link-signup-for-class {position: fixed; right: 120px; top: 10px}
.link-signup-for-class a{color:#fff; font-weight:700; text-transform:uppercase; background:tranparent; font-size: 16px;margin-top: 12px!important;
border:2px solid #fcda0c; -webkit-border-radius:10px; -moz-border-radius:10px; -ms-border-radius:10px; -o-border-radius:10px; border-radius:10px; display:inline-block; padding:7px ; line-height:normal; text-decoration:none}
.link-signup-for-class a:hover{background:#fcda0c}
.site-header-wrapper{
	width: 100%;
	float: left;
	background-color: #450607;
	margin-bottom: 50px
}
body.home .site-header-wrapper{margin-bottom:0}
body.home .site-header-wrapper{background-position:50% 100%; background-size:cover}
.site-header-menu{margin-bottom:30px}
.site-header-wrapper {
	 z-index:9999999; top: 0px; height: 80px
	
} 
@media only screen and  (max-width: 1199px)  {
.site-header-wrapper {
	top: 0px; z-index:9999999;
	position: fixed;
	height: 80px!important;
	-webkit-transition: height .3s; /* Safari */
	transition: height .3s;
} 
.scroll .site-header-wrapper {
	height: 80px!important;
}
.site-footer h2.widget-title  {font-size: 28px!important}
.block-contact ul li {font-size:18px!important; min-height: 50px!important}
 .newsletter input{
	color: #fff!important;
	border: 0;
	width: 95%;
	margin-bottom: 25px;
	padding: 10px 15px
}
.newsletter .btn-join-now{width:181px; height:51px; background:url(../images/btn-join-now.png) no-repeat 0 0; border:0; cursor:pointer; margin-right: 20px }
}


/* home */
.home #content
{
  padding-top: 0px;
}
.home-instructors-back {background-color: #fff; padding: 50px 0px; margin: -50px 0px!important; }
.site-header-wrapper-home {
	width: 100%;
	float: left;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 70%;
	background-image: url(../images/bg-main-header.jpg);
	margin-bottom: 50px;
	height: 100vh;
	position: fixed;
	z-index: 0;
}
.home-hero-section{padding-bottom:50px; margin-top: 300px}
.home-hero-section h2.widget-title{display:none; height:0; overflow:hidden}
/*.home-hero-section h2.widget-title{font-size:40px; font-weight:700; padding:30px 0 50px; margin:0 0 30px; background:url(../images/divider.png) repeat-x 50% 100%}
.home-hero-section h2.widget-title:after{content:"|"; width:5px; height:40px; display:inline-block; margin-left:5px; color:#979797}*/
.home-hero-section h1{font-size:40px; font-weight:700; padding:30px 0 50px; margin:0 0 30px; background:url(../images/divider.png) repeat-x 50% 100%}

.home-hero-section{color:#fff; text-align:center}
.home-hero-section h2{font-weight:700; font-size:25px; margin:0 0 10px; padding:0}
.home-hero-section h3{font-size:18px; font-weight:300; margin:0; padding:0 0 30px}
.typed-cursor{opacity:1; -webkit-animation:blink 0.7s infinite; -moz-animation:blink 0.7s infinite;
animation:blink 0.7s infinite; color:#979797}
@keyframes blink{ 0%{opacity:1} 50%{opacity:0} 100%{opacity:1} }
@-webkit-keyframes blink{ 0%{opacity:1} 50%{opacity:0} 100%{opacity:1} }
@-moz-keyframes blink{ 0%{opacity:1} 50%{opacity:0} 100%{opacity:1} }

.learn-from-pros{background:#620901 url(../images/bg-learn-from-pros.jpg) no-repeat 50% 0; background-size:cover; padding-top:50px; padding-bottom:50px; color:#fff; text-align:center}
.learn-from-pros h1{margin:0; padding:0; font-size:26px; font-weight:700}
.learn-from-pros h2{margin:0; padding:0 0 40px; font-size:26px; font-weight:200; line-height:normal}
.learn-from-pros h2 span{font-weight:700}
.learn-from-pros p{font-weight:300; font-size:18px; color:#fff}

.grad-companies{padding:50px 0; background-color:#f5f5f5}
.grad-companies h3{color:#676767; margin:0; font-size:32px; border-bottom:1px solid #c1c1c1; font-weight:300; text-align:center; padding-bottom:15px; margin-bottom:15px; /*letter-spacing:-1px*/}
.grad-companies ul{margin:0; padding:0}
.grad-companies ul li{margin:0; list-style-type:none; height:80px; text-align:center}
.grad-companies ul li img{display:inline-block}
.grad-companies ul li img.logo-lotpath,.grad-companies ul li img.logo-focusvision{margin-top:25px}

.what-we-do{background:url(../images/bg-whatwedo.jpg) no-repeat 50% 0; background-size:cover; padding:50px 0; text-align:center; color:#fff}
.what-we-do h3{margin:0; padding:0; font-size:26px; font-weight:200}
.what-we-do p{font-weight:300; color:#fff}

.home-instructors h1{color:#372f2d; font-weight:300; font-size:26px; margin-bottom:25px; text-align:center}
.home-instructors h1 span{display:inline-block; border-bottom:1px solid #d1d1d1; padding:0 22px 25px}
.home-instructors ul{margin:0; padding:0}
.home-instructors ul li{list-style-type:none; padding:0}

/* footer */
.site-footer{background:#2a0403 url(../images/bg-footer.jpg) no-repeat 50% 0; padding:35px 0; margin-top:25px}
.site-footer h2.widget-title{color:#fa3333; font-size:24px; font-weight:700; padding:0 0 25px; border-bottom:1px solid #550c0c; margin-bottom:25px}
.site-footer .block-footer{padding-bottom:15px}
.site-footer p{color:#fff}
.site-footer a:hover{color:#fa3333}
.block-recentnews ul{margin:0; padding:0}
.block-recentnews ul li{list-style-type:none; margin:0; padding:0}
.block-contact ul{margin:0; padding:0}
.block-contact ul li{margin:0; padding:0 0 0 45px; list-style-type:none; color:#fff; font-size:22px; position:relative}
.block-contact ul li.location{padding-bottom:50px}
.block-contact ul li a{color:#fff; text-decoration:none}
.block-contact ul li .glyphicon, .block-contact ul li span{position:absolute; left:0; top:5px}
.block-contact ul li .glyphicon{font-size:24px; font-weight:700}
.block-contact ul li span{top:0; font-weight:bold}
.block-recentnews li{padding-bottom:10px !important}
.block-recentnews li a{font-weight:400; color:#fff; text-decoration:none}
.rpwwt-post-author{color:#fff}
.rpwwt-post-date{color:#fff; font-size:13px}
.newsletter .input-txt, .newsletter input{
	background-color: #3B1B1C!important;
	color: #fff!important;
	border: 0;
	width: 100%;
	margin-bottom: 25px;
	padding: 10px 15px
}
.newsletter .btn-join-now{width:181px; height:51px; background:url(../images/btn-join-now.png) no-repeat 0 0; border:0; cursor:pointer; }
.newsletter .btn-join-now:hover, .newsletter .btn-join-now:focus{border:0; opacity:0.8}
.footer-copyright{text-align:center; width:100%; float:left; background-color:#000; padding:30px 0}

/* menu */
.site-header-menu {position:relative; z-index: 9999999}
.ubermenu-responsive-toggle-align-full {position: relative; z-index:99999999}
.ubermenu-main{
	background: rgba(0,0,0,1);
	border-radius: 0px 0px 10px 10px; z-index:999999
}
.ubermenu .ubermenu-submenu{-webkit-border-radius:6px; -moz-border-radius:6px; -ms-border-radius:6px; -o-border-radius:6px; border-radius:6px; z-index: 999999 }
.ubermenu .ubermenu-submenu li :hover{color: #FFD202!important }
.ubermenu-skin-grey-white .ubermenu-submenu .ubermenu-item-header.ubermenu-has-submenu-stack > .ubermenu-target{border-bottom-color:#bc130d}
.ubermenu .ubermenu-submenu img{-webkit-border-radius:50px; -moz-border-radius:50px; -ms-border-radius:50px; -o-border-radius:50px; border-radius:50px}
.ubermenu-retractor-mobile{color:#fff}
.ubermenu-item-level-0 li a:hover, .ubermenu-item-level-0 li span:hover,  .ubermenu   .ubermenu-item-level-0 li {color:#fff!important}
.ubermenu li {cursor: pointer!important}
/* page: for students */
.contentbox{margin-bottom:50px}
.contentbox h3{font-size:23px; color:#372f2d; font-weight:500; padding-bottom:25px; margin:0; line-height:23px}
.contentbox h3 span{color:#d6b228}
.contentbox p{/*letter-spacing:-1px;*/ line-height:1.25em; padding-bottom:25px}
.highlighted-section{background-position:50% 0; background-repeat:no-repeat}
.highlighted-section h3, .highlighted-section p{color:#fff}
.highlighted-section h3{font-size:23px;line-height:23px}
.highlighted-section h3 span{color:#ef8177}
.bg1{background-image:url(../images/bg1.jpg); padding:70px 0}
.bg2{background-image:url(../images/bg2.jpg); padding:70px 0}
.bg3{background-image:url(../images/bg3.jpg); padding:70px 0}
.bg4{background-image:url(../images/bg4.jpg); padding:70px 0}


/* page: mentors */
.welcome-mentor{text-align:center}
.developer-fellows{background-color:#7a1501; text-align:center; color:#fff; padding:50px 0; margin-bottom:50px}
.greekwise-instructors h1,.developer-fellows h1{font-weight:300; font-size:26px; padding:0 0 20px; margin:0 0 20px}
.developer-fellows h1{border-bottom:1px solid #833728}
.greekwise-instructors h1{border-bottom:1px solid #d1d1d1}
.greekwise-instructors{text-align:center}
.page-template-page-mentors .content-area .entry-header{display:none; height:0; overflow:hidden}
.textblock{padding-bottom:40px}

/* page: career services */
.section-title{color:#000; font-weight:700}
.section-title span{font-weight:300}


/* page: showcase & success stories*/
.showcase article{background-color:#fafafa; margin-bottom:90px; padding-top:30px; padding-bottom:30px}
.showcase article h1.entry-title,
.success-story article h1.entry-title{font-weight:700; font-size:18px; margin:0; padding:0}
.showcase article p.info, .success-story article .info{margin-bottom:20px}
.codepen-wrapper{margin-top:35px}
.success-story article{background-color:#fafafa; padding:50px; margin-bottom:50px}
.success-story article .info strong{font-weight:700}


/* pagination */
.page-numbers{font-weight:400; color:#808080; background-color:#f6f6f6; display:inline-block; font-size:24px; padding:5px 20px; -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; border-radius:5px; text-decoration:none !important}
.page-numbers:hover, .current{background-color:#2872be; color:#fff}

/* page: current courses */
.current-courses-header{background-color:#dad9d9; font-size:24px; padding:18px 20px}
.course-title-sm{background-color:#dad9d9; font-size:24px; padding:10px 20px; margin-bottom:10px}
.current-courses-row{background-color:#f8f8f7; padding:18px 20px}
 .current-courses-row .col-sm-4 strong
{
	font-size: 22px!important;
	display: block;
	color: #7a1501; margin-top: 30px;
	margin-bottom: -10px
}
.current-courses-row strong{font-weight:700}
.current-courses-row:nth-child(even){background-color:#ececeb!important}
h2.limited-seat{font-size:30px; font-weight:700; text-transform:uppercase; text-align:center; margin:50px 0 0}
.btn-enroll,.btn-enroll:focus,.btn-enroll:hover{
	background-color: #A15252!important;
	font-weight: 700;
	font-size: 20px;
	color: #fff;
	padding: 10px 10px
}
.sold-out { background-color: #efefef; color: #dddddd; }
.sold-out-btn { background-color: #c5d6ca; color: #afadad; }
.tabs-grey .tab-content p {line-height: 180%!important; font-size: 18px!important}
 .tabs-grey .tab-content li {line-height: 180%!important; font-size: 18px!important}
.tabs-grey .tab-content h1
{
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 80px!important;
  margin-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 30px;
  font-weight: 700;
}

/* page: anyone can code */
.learn-from-pros2{padding:100px 0; text-align:center; margin-bottom:50px}
.learn-from-pros2 h1{font-weight:700; font-size:26px; line-height:26px; color:#fff; padding:0; margin:0 0 50px}
.contentbox .grey-title{color:#646565; font-weight:400}
.contentbox .grey-title strong{font-weight:700}
.welcome-try-html h2{font-size:30px; font-weight:300; text-align:center}
.welcome-try-html h2 span{font-weight:700}
.box-exercise{background-color:#202223; padding:20px; font-size:24px}
.box-exercise p.note, .box-exercise label{color:#89837e}
.box-exercise p.hightlight-txt{color:#fff; clear:both}
.box-exercise p.hightlight-txt span{color:#edc86c}
.box-exercise p.hightlight-txt2{color:#ae9db7; padding-left:15px}
.box-exercise input{width:112px; height:32px; background-color:#161616; color:#edc86c; border:0; float:left}
.box-exercise label,.box-exercise input{font-weight:400}

/* post detail: instructor, mentor, developerfellows */
.instructor-header{border-bottom:1px solid #d8d8d8; padding-bottom:25px; margin-bottom:25px}
.instructor-header h1{font-size:25px; margin:0; padding:0; line-height:normal; font-weight:700}
.instructor-header h2{font-size:16px; font-weight:300; margin:0; padding:0}
.quote{margin-top:30px}
.quote h3{font-weight:700; font-size:18px}
.quote blockquote{border:none; background:#f0f0f0; padding:20px}
.quote blockquote cite{display:block; text-align:right; font-weight:700; font-style:italic; font-size:18px}


/* page: our story */
.story{background-repeat:no-repeat; background-position:50% 0; color:#fff; padding:50px 0; background-size:cover}
.story h2{font-size:30px; font-weight:700; padding:0 0 23px; margin:0}
.story p{font-size:24px; line-height:25px; color:#fff}
.story-bg1{background-image:url(../images/img-story1.jpg)}
.story-bg2{background-image:url(../images/img-story2.jpg)}
.story-bg3{background-image:url(../images/img-story3.jpg)}
.story-bg4{background-image:url(../images/img-story4.jpg)}
.page-our-story .site-footer{margin-top:0}


/* page: course category */

.tax-courses-category h1.entry-title{display:none; height:0; overflow:hidden}
.tabs-grey .nav-tabs{border-bottom:0; margin-bottom:40px; margin-left:0; background-color:#cccccc}
.tabs-grey .nav-tabs > li{margin-bottom:0; width:100%}
.tabs-grey .nav-tabs > li > a{margin:0; padding:15px 20px; font-size:17px; border:0; border-radius:0; color:#000}
.tabs-grey .nav-tabs > li.active > a,
.tabs-grey .nav-tabs > li.active > a:focus,
.tabs-grey .nav-tabs > li.active > a:hover{background-color:#d5b028; color:#fff; border:0 !important}
.tabs-grey .tab-content h1{margin:0 0 25px; padding-top:0; padding-bottom:0; font-size:30px; font-weight:700}
.tabs-grey .tab-content p,  .tabs-grey .tab-content li{font-size:16px}
.tabs-grey .tab-content p{margin:0; padding:0 0 10px}
.tabs-grey .tab-content p.quick-desc{padding:0 0 40px}
.tabs-grey .tab-content p strong{font-weight:700}
.tabs-grey .tab-content .btn-signup{color:#fff; background-color:#14c54a; font-size:24px; font-weight:700; padding:18px 15px}
.what-you-learn{margin-top:50px}
.what-you-learn h2{margin:0 0 50px; padding:0; font-size:30px; font-weight:700}
.what-you-learn ul li{padding:0px!important}

.tab-pane:focus {
    outline: 0;
    /* or */
    outline: none;
}


/* page : cohort */
body.page-template-page-cohort .site-footer{margin-top:0}
.welcome-cohort .esg-filterbutton {font-size:15px; line-height:18px}
.welcome-cohort ol{margin-left:30px}
.cohort-wrapper{background-color:#7a1501; color:#fff; text-align:center; padding:50px 0}



/* page:sales funnel */
.icon-logout,.icon-logout:hover,.icon-logout:focus{color:#fff}
.sales-funnel .form-control{height:40px}
.sales-funnel .btn,.sales-funnel .btn:hover,.sales-funnel .btn:focus{background-color:#39b54a; color:#fff; font-weight:600; margin:0; height:40px}
.sales-funnel p.desc{margin-bottom:25px}
.section-duration{width:100%; float:left}
.tabs-grey .tab-content .section-duration p{display:inline-block; float:left; padding-right:10px; margin:0}
.section-duration select{float:left}
.tabs-grey2 .tab-content p.available-seats{margin-top:25px; clear:both}
.selected-class{border:1px solid #9d9d9d; margin-bottom:25px; padding:25px}
.tabs-grey2 .tab-content .selected-class p{margin-bottom:25px}
.confirmation{text-align:center}
.confirmation a{text-decoration:underline}
.footer-sales{border-top:1px solid #959595; padding-top:25px; padding-bottom:25px; text-align:center; margin-top:25px}
.footer-sales img{max-width:150px}


/* page: blog, blog detail */
.blog .post{border-bottom:1px solid #e9e9ea; padding:0 0 40px; margin-bottom:40px}
.blog .post .entry-header .entry-title{margin:0; padding:0 0 30px; color:#7c7c7c; font-size:33px; font-weight:500}
.blog .post .entry-header .entry-title a{color:#7c7c7c; text-decoration:none}
.blog .post .entry-header .entry-title a:hover{color:#2872be}
.blog .post .post-thumbnail{display:block; clear:both}
.blog .post .post-thumbnail img{width:100%}
.blog .post .more-link{display:block; clear:both; font-size:16px; font-weight:700; color:#2872be; padding-top:25px}
.post-thumbnail-wrapper{width:100%; float:left; position:relative; margin-bottom:25px}
.post-thumbnail-wrapper .hover-bg{background-color:rgba(0,0,0,0.4); position:absolute; left:0; top:0; color:#fff; bottom:0; z-index:1; padding:0; width:100%; opacity:0; -webkit-transition:0.3s; -moz-transition:0.3s; -o-transition:0.3s; -ms-transition:0.3s; transition: 0.3s; background:rgba(0,0,0,0.8) url(../images/icon-view-post.png) no-repeat 50% 50%; font-size:1px; color:#000; text-indent:-9999px}
.post-thumbnail-wrapper .hover-bg a{display:block; width:100%; height:100%}
.post-thumbnail-wrapper:hover .hover-bg{opacity:1}
.post-detail .post-title{font-size:33px; color:#7c7c7c; font-weight:700; margin:0; padding:0 0 15px}

.post-detail .post-navigation{border:0; border-bottom:1px solid #cbc5c1; width:100%; float:left; margin:0 0 20px; padding:0 0 35px}
.post-detail .post-navigation .nav-previous,.post-detail .post-navigation .nav-next{width:50%; float:left; border:0}
.post-detail .post-navigation a{color:#808080; font-size:24px; background-color:#f6f6f6; margin:0; padding:10px 15px; display:inline-block; text-decoration:none}
.post-detail .post-navigation a:hover, .post-detail .post-navigation a:hover span{background-color:#2872be; color:#fff !important}
.post-detail .post-navigation .nav-next a{float:right}
.post-navigation .meta-nav{font-size:24px; padding:0; margin:0}

.post-detail .post-thumbnail img{width:100%}
.post-detail-header{clear:both; display:block; padding:25px 0}
.post-detail-header h1{color:#7c7c7c; margin:0; padding:0}
.post-detail-header p{color:#a09f9f; margin:0; padding:0}
.post-detail .entry-content p{font-size:20px; color:#121212; line-height:normal}

.breadcrumbs{margin:0; padding:0 0 20px; width:100%; float:left; clear:both}
.breadcrumbs li{margin:0; padding:0 5px; color:#a09f9f; font-size:16px; display:inline; float:left}
.breadcrumbs li.item-home{padding-left:0}
.breadcrumbs li a{color:#a09f9f; text-decoration:none}
.breadcrumbs li a:hover{color:#317ece}

.block-more-reading{border-top:1px solid #cbc5c1; padding:35px 0; margin-top:20px}
.block-more-reading h2{font-size:24px; font-weight:700; color:#808080; padding:0 0 20px; margin:0}
.block-more-reading ul{margin:0; padding:0; position:relative}
.block-more-reading ul li{margin:0; padding:0; list-style-type:none; width:100%; float:left}
.block-more-reading ul li img{width:100%}
.block-join-tribe form {padding: 0px!important}
.block-join-tribe{margin-top:40px; margin-bottom:40px; text-align:center; background-color:#7a1501; padding-top:25px; padding-bottom:25px}
.block-join-tribe h2{font-size:36px; font-weight:300; color:#fff; margin:0; padding:0 0 30px}
.block-join-tribe .btn,.block-join-tribe .btn:hover,.block-join-tribe .btn:focus{background-color:#e0ce25; font-weight:700; font-size:20px}
.block-join-tribe .form-control,.block-join-tribe .btn{margin:0; height:45px; box-shadow:none}

.social-media{margin-top:25px; display: none}
.social-media p{display:inline-block; float:left; color:#fff; font-size:24px; padding:5px 15px; margin:0}
.social-media p span{display:inline-block; padding:0 4px; font-weight:700}
.social-media p.twitter{background-color:#00aced; margin-right:15px}
.social-media p.facebook{background-color:#3b5998}

/* sidebar */
.sidebar{background-color:#f6f6f6}
.widget .widget-title{margin:0 0 20px; font-size:21px; color:#7c7c7c; font-weight:500}
.sidebar .widget{border:0; padding:15px}
.sidebar .widget ul{margin:0; padding:0}
.sidebar .widget ul li{list-style-type:none; font-size:16px; margin:0; padding:0}
.sidebar .widget ul li a{color:#2872be; text-decoration:none}
.sidebar .widget ul li a:hover{color:#333}

/* page: contact */
.form-contact .form-control, .wpcf7 .wpcf7-form-control-wrap {height:50px; background-color:#f6f6f6; box-shadow:none; border:0; }
.wpcf7 .wpcf7-form-control-wrap input[type="text"], .wpcf7 .wpcf7-form-control-wrap input[type="email"] { -webkit-border-radius:10px; -moz-border-radius:10px; -ms-border-radius:10px; -o-border-radius:10px; border-radius:10px}
.form-contact .form-control2, .wpcf7 .wpcf7-textarea {height:150px; -webkit-border-radius:10px; -moz-border-radius:10px; -ms-border-radius:10px; -o-border-radius:10px; border-radius:10px}
.form-contact .btn, .wpcf7 .wpcf7-submit { color:#fff; font-weight:700; height:50px; background-color: #B32017!important; border: none!important;
 paddding: 30px 0px!important; min-width: 100px!important;}
.form-contact .btn,.form-contact .btn:hover, .form-contact .btn:focus, .wpcf7 .wpcf7-submit:hover, .wpcf7 .wpcf7-submit:focus {background-color:#B32017; border:0;}
 input.wpcf7-form-control.wpcf7-submit { color:#fff; font-weight:700; height:50px; background-color: #B32017!important; border: none!important;
 paddding: 30px 0px!important; min-width: 150px!important;}

/* image slider overwrite css */
.developer-fellows .simple-dark .esg-filterbutton,
.developer-fellows .simple-dark .esg-navigationbutton,
.developer-fellows .simple-dark .esg-sortbutton,
.developer-fellows .simple-dark .esg-cartbutton{font-size:25px; line-height:45px; border-radius:25px; border-color:#b01f02}
.developer-fellows .simple-dark .esg-navigationbutton *{color:#b01f02}

.greekwise-instructors .simple-dark .esg-filterbutton,
.greekwise-instructors .simple-dark .esg-navigationbutton,
.greekwise-instructors .simple-dark .esg-sortbutton,
.greekwise-instructors .simple-dark .esg-cartbutton{font-size:25px; line-height:45px; border-radius:25px; border-color:#a1a1a1}
.greekwise-instructors .simple-dark .esg-navigationbutton *{color:#a1a1a1}

.cohort-wrapper .esg-filterbutton{background-color:#e8e7e7 !important; color:#5c5c5c; font-weight:700;
-webkit-border-radius:10px; -moz-border-radius:10px; -ms-border-radius:10px; -o-border-radius:10px; border-radius:10px}
.cohort-wrapper .simple-dark .esg-filterbutton,
.cohort-wrapper .simple-dark .esg-navigationbutton,
.cohort-wrapper .simple-dark .esg-sortbutton,
.cohort-wrapper .simple-dark .esg-cartbutton{color:#5c5c5c; font-size:15px; font-family:'Raleway', sans-serif; line-height:40px; margin-left:5px; margin-right:5px}
.cohort-wrapper .simple-dark .esg-filter-checked{background-color:#fff; font-size:10px}
.cohort-wrapper .esg-selected-filterbutton{ -webkit-border-radius:10px; -moz-border-radius:10px; -ms-border-radius:10px; -o-border-radius:10px; border-radius:10px; background-color:#e8e7e7; color:#5c5c5c; font-size:15px; font-family:'Raleway', sans-serif; line-height:40px}
.cohort-wrapper .esg-filter-wrapper .esg-dropdown-wrapper{width:100%; background-color:#e8e7e7; padding:7px} 
@media (min-width: 640px){
.block-more-reading ul{margin:0 -20px}	
.block-more-reading ul li{width:33.3%; padding:0 20px}	
}


@media (min-width: 768px){
body{font-size:18px}
.custom-logo-link{text-align:left; margin-bottom:0}
.site-branding aside{display:inline-block; float:right}
.site-header .entry-title{font-size:45px; margin:0 0 60px}
.site-header-menu{margin-bottom:60px}
.home-hero-section{/*padding-bottom:235px*/ padding-bottom:175px}
.home-hero-section h1{font-size:75px; padding-bottom:100px; margin:0 0 70px}
.home-hero-section h2{font-size:45px}
.home-hero-section h3{padding:0 0 70px}
.learn-from-pros{padding-top:100px; padding-bottom:70px; background-size:100% 100%}
.learn-from-pros h1, .home-instructors h1{font-size:52px}
.learn-from-pros h2{font-size:51px; /*letter-spacing:-1px*/}
.what-we-do{padding:100px 0 50px}
.what-we-do h3{font-size:52px}
.site-footer{padding:100px 0; margin-top:50px}
.site-footer h2.widget-title{font-size:31px}
.contentbox h3,.highlighted-section h3{font-size:45px; line-height:45px}
.contentbox{margin-bottom:80px}
.bg1,.bg2,.bg3{padding:300px 0}
.showcase article{padding:40px}
.showcase article h1.entry-title,.success-story article h1.entry-title{font-size:36px}
.showcase article p.info{margin-bottom:40px}
.welcome h1{font-size:60px}
.welcome p, .welcome {font-size:20px; line-height: 160%}
.learn-from-pros2 h1{font-size:52px; line-height:52px}
.instructor-header h1{font-size:50px; line-height:50px}
.instructor-header h2{font-size:25px}
.quote h3{font-size:30px}
.story{padding:170px 0 0; height:900px}
.story h2{font-size:60px}
.story p{font-size:24px}
.tabs-grey .nav-tabs{margin-bottom:80px}
.tabs-grey .nav-tabs > li{width:auto}
.tabs-grey .tab-content h1{font-size:60px}
.tabs-grey .tab-content p,.tabs-grey .tab-content li,.welcome-courses p{}
.what-you-learn h2{font-size:28px}
.icon-logout{font-size:25px; padding-top:25px}
.site-header-sales .entry-title{margin:10px 0 20px; text-align:left}
.tabs-grey2.tabs-grey .nav-tabs > li{width:1%}
.tabs-grey2.tabs-grey .tab-content h1{font-size:50px}
.selected-class{margin-top:100px}
.footer-sales{text-align:left}
.footer-sales img{float:right}
.greekwise-instructors h1,.developer-fellows h1{font-size:50px}
.post-detail .post-thumbnail img
{
  width: 90%; margin-bottom: 40px!important
}
#content H1
{
  text-align: center;
  font-size: 48px;
  font-weight: bold; padding-bottom: 30px!important
}
}

@media (min-width: 992px){
.grad-companies h3{text-align:right}
.grad-companies h3{margin-bottom:0; border-bottom:0; border-right:1px solid #c1c1c1; padding-right:50px}
.site-footer .block-footer{padding:0}
.highlighted-section{background-size:cover}
.box-exercise{min-height:310px}
}

@media (min-width: 1200px){
.block-recentnews h2.widget-title{text-align:right}	
.block-recentnews h2.widget-title span{display:inline-block; width:290px}
.block-recentnews ul{width:290px; float:right}	
.contentbox h3{padding-top:40px}
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
 {
.post-29 div.container > div.col-sm-5 p {
	line-height: 160%!important;
	font-size: 16px
}
.post-29 div.container > div.col-sm-5 h2 {
	line-height: 160%!important;
	font-size: 36px
}
.instructor-details {font-size: 16px}
.instructor-header  h1 {font-size: 36px!important}
.instructor-pic img {width: 100%; height: auto}
}

@media only screen and (min-width: 526px) and (max-width: 768px){

#header-home-bg, .site-header-wrapper-home  {position: fixed; top:0px}
.ubermenu-skin-grey-white.ubermenu-responsive-toggle {margin-top: -10px!important}
.ubermenu-skin-grey-white.ubermenu-responsive-toggle {margin-top: 5px!important}

}
@media only screen and (max-width: 525px){
	.btn-enroll,.btn-enroll:focus,.btn-enroll:hover {margin: 30px auto; padding: 15px}
#content H1 {font-size: 30px; margin-bottom: 30px}
#content {padding-top: 190px;}
.current-courses-header, .course-title-sm, div.course-title-sm.visible-xs.hidden-sm {display: none!important}
.current-courses-row.clearfix > div.col-sm-2 > strong {margin-top: 20px!important; display: block; margin-bottom: -20px}
.link-signup-for-class a {margin-top:0px}
.ubermenu-skin-grey-white.ubermenu-responsive-toggle {margin-top: -10px!important}
.scroll .site-header-wrapper, .site-header-wrapper {  height: 80px!important;}
.post-29 div.container > div.col-sm-5 p {
	line-height: 160%!important;
	font-size: 16px
}
#header-home-bg {width: 100%; }
#header-home-bg, .site-header-wrapper-home  {position: fixed; top:0px}
.instructor-pic img
{
  width: 100%!important; margin-bottom: 40px;  
  height: auto;
}
.block-join-tribe h2 {
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    margin: 0;
    padding: 0px;
}
.block-join-tribe  {
     margin-bottom: 30px!important; margin-top: 0px
}
.block-join-tribe input {
     margin-top: 20px!important
}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { .current-courses-header, .course-title-sm, div.course-title-sm.visible-xs.hidden-sm {display: none!important}
.current-courses-row .col-sm-2, .current-courses-row .col-sm-4 {display: block; width: 100%!important}
.current-courses-row.clearfix > div.col-sm-2 > strong {margin-top: 20px!important; display: block; margin-bottom: -20px}
.link-signup-for-class a {margin-top:0px}
.btn-enroll, .btn-enroll:focus, .btn-enroll:hover
{
  max-width: 50%; margin: 30px auto 
} 
.welcome p, .welcome
{
  font-size: 18px;
  line-height: 160%;
}
}

.instructor-pic img {width: 90%; height: auto}
.post-detail .post-thumbnail img
{
 margin-bottom: 40px!important
}
.privacy a, .privacy {font-size: 11px!important; color:#999!important}

/* Posts: Courses */
.single-courses-cpt h1, .single-courses-cpt h2 {font-weight: 800; font-style: italic; text-align: center}
.single-courses-cpt h2 {font-weight: 800; font-style: italic; text-align: center; font-size: 36px; padding: 100px 0px 80px 0px!important; display: block; margin-top: 0px!important; margin-bottom: 0px!important}
.skill-level {font-weight:800; text-align:center; font-size: 24px; margin:45px 0px; font-style: italic!important;}
.skill-level img {float: right; max-width:90%; margin-left: 15px; height: auto}
.skill-level div {height: 75px; display: flex;
    justify-content:center;
    align-content:center;padding:0px!important;
    flex-direction:column; }
.skill-level p {font-weight:800!important; text-align:center; font-size: 30px!important; white-space: nowrap; vertical-align: middle}
.class-destails ul { }
.class-details li {display:block; width:100%; margin: 2px; background-color: #f7f7f7; text-align: center!important; font-size: 18px; padding: 10px; color:#636363}
.class-details li strong {display: block; font-size: 24px;font-weight:900!important;font-style: italic!important;  color:#000}
#course-description {font-size: 24px; line-height: 36px; text-align: center; clear: both; float: none; padding: 20px 0px 0px 0px; display: block; margin-bottom: 0px!important}
.what-you-learn ul li {padding: 10px!important; padding-left: 45px!important;list-style-type: none;; background-repeat: no-repeat; background-position: left; background-image: url("../images/courses-bullet-points.jpg"); font-size: 20px }
.what-you-learn {margin-bottom: 50px!important; display: block!important; margin-top: 0px; padding-top: 0px!important}
.accordion {
    background-color: #eee;
    color: #868484;
    cursor: pointer; margin-bottom: 10px;
    padding: 15px 30px;
    width: 100%; font-weight: bold;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
}

.accordion.active, .accordion:hover {
    background-color: #ddd;
}

.accordion-panel {
	 font-size: 16px;
 
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.accordion-panel ul {padding: 20px 30px}
.program {padding-bottom: 50px}
.enroll-to-course {display: inline-block;    width: 47%; margin: auto!important }

.enroll-to-course a:hover {text-decoration: none}
.enroll-to-course a {padding: 15px 30px!important;font-weight: 400; font-size: 24px; margin: auto!important; color:#fff; width: 100%; height: 100%; display:inline-block;text-decoration: none}
.enroll-to-course a strong {display: block; font-size: 48px; font-style: italic; font-weight: 900 }
.enroll-to-course a em {display: block; font-size: 14px; padding-top:5px}
#course-requirements {color: #737373; font-size: 14px; line-height: 150%; padding-top: 50px}
#course-requirements h2 {color: #dc0202; background-color: #fde8e8; margin: 50px 0px!important; padding: 20px!important; font-weight: 600; font-size: 24px }
#course-requirements h2 .fa {padding-right: 10px!important} 
#course-requirements h3 {
	color: #DC1717;
	margin: 30px auto!important;
	padding: 20px!important;
	font-weight: 600;
	font-size: 20px; line-height: 160%;
	text-align: center
}
#related-courses h4 {font-size: 30px; font-style:italic; text-align: center; padding-top: 75px; margin-top: 50px; border-top: solid 1px #ccc}
#enroll-buttons {text-align: center!important; display: block; width: 100%; padding-top: 30px}
.enroll-to-course , .enroll-to-course:hover {display: none;  background-color: #71bdcd!important; font-weight: 400; font-size: 24px;border-radius: 5px;}
#course-description li {text-align: left!important}

@media only screen and (min-width: 1200px) {
.class-details li {display:inline-block; width:48%; margin: 2px; background-color: #f7f7f7; text-align: center!important; font-size: 18px; padding: 10px; color:#636363}}


/*------------------------------------*\
    NAV
\*------------------------------------*/
#menu-mainmenu {
    list-style: none; margin-top: 10px;
    font-weight: bold; float: right;
    margin-bottom: 10px; 
    /* Clear floats */
    width: 100%; z-index: 999999!important;
 
    position: relative;
  
}
#menu-mainmenu li {
    float: left; 
    
    position: relative;
}
#menu-mainmenu a {
    display: block;
    padding: 10px;
    color: #fff;
 font-size: 17px; font-weight: 600!important;
    text-decoration: none;
}
#menu-mainmenu a:hover {
    color: #fff;
    background-color: #b21c14;
    text-decoration: none;
}

/*--- DROPDOWN ---*/
#menu-mainmenu ul {
    background-color: #fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
    background: rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
    list-style: none;
    position: absolute;
    left: -9999px; /* Hide off-screen when not needed (this is more accessible than display: none;) */
}
#menu-mainmenu ul li {
    padding-top: 0px; /* Introducing a padding between the li and the a give the illusion spaced items */
    float: none;
}


#menu-mainmenu ul a {
    white-space: nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
#menu-mainmenu li:hover ul { /* Display the dropdown on hover */
    left: 0; /* Bring back on-screen when needed */; margin-left: 0px
}
#menu-mainmenu li:hover a { /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
    background-color: #b21c14;
    text-decoration: none;
}
#menu-mainmenu li:hover ul a { /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
    text-decoration: none;  padding: 7px 10px;
}
#menu-mainmenu li:hover ul li a:hover { /* Here we define the most explicit hover states--what happens when you hover each individual link. */
    background-color: #333;
}
#menu-mainmenu li:hover ul li a {
   font-weight: 300!important; font-size: 12px!important
}
button#responsive-menu-button, #responsive-menu-container,.nav  {z-index: 9999999!important; }




@media only screen and (min-width: 1200px) {
.link-signup-for-class {float: right; margin-right: 0px; right: 0px; position: relative; top: 0px}}




